{% extends "index.html" %}
{% load static %}
{% block title %}Our Studio{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="container-fluid position-relative">
                <div class="our-studio-text">

                </div>
                <div class="row mb-5 our-studio-outer">
                    <div class="col-12 col-lg-3 d-none">

                    </div>
                    <div class="col-12 overflow-hidden">
                        <div class="our-studio">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <p class="txt-secondary fm-inter fw-400">
                                            We are a team made of AEC Technicians with expertise in <span
                                                class="fw-bold">Systems, Structures, Architecture and BIM,</span> every
                                            day handling projects ranging from small to large scale.
                                            aduna is born with onw goal: to simplify everyday-tasks
                                            which take away hundreds of hours of redundand
                                            work from qualified workers.
                                        </p>
                                    </div>
                                    <div class="col-12  mb-4">
                                        <h4 class="fw-bold fm-inter txt-secondary">
                                            Our outomated tools apply
                                        </h4>
                                        <p class="txt-secondary fm-inter fw-400">
                                            mainly to Revit and Excel, but we
                                            also provide apps which directly
                                            automate tasks on Windows
                                            and on the Cloud.
                                        </p>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <h4 class="fw-bold fm-inter txt-secondary">
                                            We provide ready-to-use tools:
                                        </h4>
                                        <p class="txt-secondary fm-inter fw-400">
                                            Pre-defined add-ons can be found <a href=""
                                                class="txt-secondary text-decoration-underline">here</a>. These products
                                            will soon be directly purchasable
                                            from our website, but until then we provide a
                                            low-priced monthly subscription for their use.
                                            <a href="" class="txt-secondary text-decoration-underline">Contact us!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 d-flex justify-content-end">
                                <img src="{% static "assets/imgs/gp56.svg" %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 mb-4">
                        <h4 class="fw-bold fm-inter txt-secondary">
                            We also develop add-ons BIM and scripts on demand:
                        </h4>
                        <p class="txt-secondary fm-inter fw-400 mb-3">
                            If you have a personal issue to solve, contact us and we will develop it
                            together! The collaboration is usually following a pre-defined scheme:
                        </p>
                        <div>
                            <h6 class="txt-secondary mb-0">1 - Briefing phase </h6>
                            <p class="txt-secondary fm-inter fw-400 mb-3">
                                Drafting a document in which the company explains us their issues and needs.
                            </p>
                        </div>
                        <div>
                            <h6 class="txt-secondary mb-0"> 2 - Solution Strategy </h6>
                            <p class="txt-secondary fm-inter fw-400 mb-3">
                                Following a first analysis and internal studies, we present a draft of the proposed
                                solution.
                            </p>
                        </div>
                        <div>
                            <h6 class="txt-secondary mb-0">3 - Customized tool development </h6>
                            <p class="txt-secondary fm-inter fw-400 mb-3">
                                The development period will lead to the desired final solution, which will be provided
                                to the client for its internal use.
                            </p>
                        </div>
                        <div>
                            <h6 class="txt-secondary mb-0">4 - Beta test assistance</h6>
                            <p class="txt-secondary fm-inter fw-400 mb-5">
                                As for every newly developed software, some tests, support and debugging are often
                                needed. We always integrate this phase in our proposals so that we can deliver the best
                                assistance.
                            </p>
                        </div>
                        <div>
                            <h4 class="txt-secondary mb-0">
                                Our productes are built on native and high level languages
                            </h4>
                            <p class="txt-secondary fm-inter fw-400 mb-3">
                                like C#, and not only on the commonly used easy connections like Dynamo for Revit.
                                This makes all our products faster, healthier and more customizable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch mb-3">
                    <div class="col-12 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center">
                        <div class="row">
                            <div class="col-12 text-center mb-2">
                                <img src="{% static "assets/imgs/dg.svg" %}" alt=" Dynamo/ Grasshopper"
                                    class="img-fluid mb-2">
                            </div>
                            <p class="fw-bold fm-inter text-white text-center col-12">
                                Dynamo/ Grasshopper
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center">
                        <div class="row">
                            <div class="col-12 text-center mb-2">
                                <img src="{% static "assets/imgs/python.svg" %}" alt="Python" class="img-fluid">
                            </div>

                            <p class="fw-bold fm-inter text-white text-center col-12">
                                Python
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center">
                        <div class="row">
                            <div class="col-12 text-center mb-2">
                                <img src="{% static "assets/imgs/vb.svg" %}" alt="VisualBasic" class="img-fluid">
                            </div>

                            <p class="fw-bold fm-inter text-white text-center col-12">
                                VisualBasic
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 d-flex align-items-stretch justify-content-center
                    ">
                        <div class="row">
                            <div class="col-12 text-center mb-2">
                                <img src="{% static "assets/imgs/c#.svg" %}" alt="c#" class="img-fluid">
                            </div>
                            <p class="fw-bold fm-inter text-white text-center col-12">
                                C#
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "components/contact.html" %}
{% endblock content %}