{% extends "index.html" %}
{% block title %}Terms of Use{% endblock title %}
{% block content %}
<style>
   body {
      background: #efefe5 !important;
   }

   .terms-logo {
      filter: brightness(0);
   }

   .nav-sm li {
      color: #000000;
   }

   .nav-sm li a {
      color: #000000;
      font-weight: 700;
      border-bottom: 1px solid transparent;
   }

   .nav-sm li a:hover {
      color: #000000;
      border-bottom: 1px solid #a0a09d;
   }

   .bg-header {
      background: #efefe5 !important;
   }

   #nav-icon1 span {
      background: #000000 !important;
   }
</style>
<div class="container">
   <div class="row mb-5 our-studio-outer">
      <div class="col-12 col-lg-4 overflow-hidden d-none d-lg-block p-3">
         <div class="our-studio-terms">
         </div>
      </div>
      <div class="col-12 col-lg-8 py-5">
         <div class="container">
            <div class="row p-lg-3 justify-content-center">
               <h1 class="fw-900 fm-jost mb-4">
                  Terms and Conditions
               </h1>
               <div class="col-12 col-lg-11">
                  <div>
                     <h6 class="mb-0 fw-700">1.Introduction</h6>
                     <p class="fm-inter fw-300 mb-3">
                        Welcome to the website of aduna s.r.l.s. ("aduna," "we," "us," or "our"). These terms and
                        conditions govern your use of our website and the services offered through it. By accessing or
                        using our website, you agree to comply with these terms and conditions. If you do not agree with
                        any part of these terms and conditions, you must not use our website.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">2.Company Information</h6>
                     <p class="fm-inter fw-300 mb-3">
                        aduna s.r.l.s. is a limited liability company registered in Italy, with its legal head office
                        located at via Caduti di El Alamein 5, 56123 Pisa.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">3.Services Offered</h6>
                     <p class="fm-inter fw-300 mb-3">
                        We provide customized and ready-to-use plugins and addons based on scripts, primarily tailored
                        for the building construction industry.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">4.User Accounts</h6>
                     <p class="fm-inter fw-300 mb-3">
                        Currently, we do not offer user accounts. However, users can subscribe to our newsletter to
                        receive updates and information about our products and services.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">5.Intellectual Property Rights</h6>
                     <p class="fm-inter fw-300 mb-3">
                        All products, ideas, and texts presented on our website are the exclusive property of Aduna
                        s.r.l.s. and are protected by copyright laws. Reproduction or use of any content from our
                        website without prior consent is strictly prohibited.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">6.Newsletter Subscription</h6>
                     <p class="fm-inter fw-300 mb-3">
                        By subscribing to our newsletter, you consent to receive promotional emails and updates from
                        aduna s.r.l.s. You can unsubscribe from our newsletter at any time by following the instructions
                        provided in the email.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">7.Limitation of Liability</h6>
                     <p class="fm-inter fw-300 mb-3">
                        Our tools are intended to be used as automation and everyday support for users in the building
                        construction industry. While we strive to ensure the accuracy and reliability of our products,
                        users are responsible for counterchecking the results of computations and remain solely
                        responsible for any drawings and information produced. We provide support to teach the usage of
                        our products but cannot be held liable for any unexpected results generated by automated
                        actions.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">8.Governing Law and Jurisdiction</h6>
                     <p class="fm-inter fw-300 mb-3">
                        These terms and conditions shall be governed by and construed in accordance with the laws of
                        Italy. Any disputes arising out of or relating to these terms and conditions shall be subject to
                        the exclusive jurisdiction of the courts of Italy.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">9.Contact Us</h6>
                     <p class="fm-inter fw-300 mb-3">
                        If you have any questions or concerns regarding these terms and conditions, please contact us at
                        info@aduna.eu.
                     </p>
                  </div>
                  <div>
                     <h6 class="mb-0 fw-700">10.Modifications</h6>
                     <p class="fm-inter fw-300 mb-3">
                        We reserve the right to modify or update these terms and conditions at any time without prior
                        notice. It is your responsibility to review these terms and conditions periodically for any
                        changes. Your continued use of our website after the posting of any modifications constitutes
                        acceptance of those changes.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% include "components/contact.html" %}
{% endblock content %}