<div class="container-fluid contact" id="contact">
    <div class="row min-h-100 align-items-center bg-light-1">
        <div>
            <h1 class="fw-800 fm-jost text-center mb-3 ready-to-work">
                CONTACT US!
            </h1>
            <h2 class="fm-poiret-one fw-400 text-center mb-5 ready-to-work">
                Ready to work with us?
            </h2>
            <p class="fw-400 fm-inter text-center mb-4">
                Write us for asking an estimate or for any additional information.
            </p>
            <div class="fw-bolder text-center mb-5">
                <a href="mailto:info@aduna.com" role="button" class="btn btn-1 fw-800 fm-inter">
                    <span>info@aduna.com</span>
                </a>
            </div>
        </div>
    </div>
</div>